# 파일 읽어오기

In [1]:
#라이브러리 임포트 
import pandas as pd

In [2]:
df = pd.read_csv('1번째_파이썬_교육.csv')

#데이터 확인

In [3]:
df

                           title    category subscriber       view    video
0                      BLACKPINK  [음악/댄스/가수]      5140만  128억5130만     319개
1                 Big Hit Labels  [음악/댄스/가수]      4550만  120억8966만     433개
2                      BANGTANTV  [음악/댄스/가수]      3870만   54억7598만   1,319개
3    Boram Tube Vlog [보람튜브 브이로그]    [키즈/어린이]      2650만  110억5288만     223개
4                         SMTOWN  [음악/댄스/가수]      2450만  180억7532만   3,583개
..                           ...         ...        ...        ...      ...
995                Ranking World       [미분류]        40만    1억2752만     503개
996                         급식걸즈    [취미/라이프]        40만    2억3901만     226개
997                          OCN     [TV/방송]        40만    3억4583만  10,071개
998                Bravo jamoasi       [미분류]        40만      6193만      25개
999                  덕출 : DCTVGO     [TV/방송]        40만      8249만     202개

[1000 rows x 5 columns]

In [4]:
df.head(5)

                         title    category subscriber       view   video
0                    BLACKPINK  [음악/댄스/가수]      5140만  128억5130만    319개
1               Big Hit Labels  [음악/댄스/가수]      4550만  120억8966만    433개
2                    BANGTANTV  [음악/댄스/가수]      3870만   54억7598만  1,319개
3  Boram Tube Vlog [보람튜브 브이로그]    [키즈/어린이]      2650만  110억5288만    223개
4                       SMTOWN  [음악/댄스/가수]      2450만  180억7532만  3,583개

In [25]:
df.tail(5)

             title  category subscriber     view    video
995  Ranking World     [미분류]        40만  1억2752만     503개
996           급식걸즈  [취미/라이프]        40만  2억3901만     226개
997            OCN   [TV/방송]        40만  3억4583만  10,071개
998  Bravo jamoasi     [미분류]        40만    6193만      25개
999    덕출 : DCTVGO   [TV/방송]        40만    8249만     202개

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       1000 non-null   object
 1   category    1000 non-null   object
 2   subscriber  1000 non-null   object
 3   view        1000 non-null   object
 4   video       1000 non-null   object
dtypes: object(5)
memory usage: 39.2+ KB

In [26]:
df.shape

(1000, 5)

#데이터의 타입확인

In [27]:
df.dtypes

title         object
category      object
subscriber    object
view          object
video         object
dtype: object

In [28]:
print(df['title'].dtypes)

object

In [29]:
#df['subscriber'].astype('int64')

#데이터 값 변경 방법

In [11]:
df['subscriber'].repl ace('만', '0000',  regex = True).astype('int64')

0      51400000
1      45500000
2      38700000
3      26500000
4      24500000
         ...
995      400000
996      400000
997      400000
998      400000
999      400000
Name: subscriber, Length: 1000, dtype: int64

In [30]:
df['subscriber']

0      5140만
1      4550만
2      3870만
3      2650만
4      2450만
       ...
995      40만
996      40만
997      40만
998      40만
999      40만
Name: subscriber, Length: 1000, dtype: object

In [31]:
df['subscriber']=df['subscriber'].replace('만', '0000', regex = True).astype('int64')

In [32]:
df['subscriber']

0      51400000
1      45500000
2      38700000
3      26500000
4      24500000
         ...
995      400000
996      400000
997      400000
998      400000
999      400000
Name: subscriber, Length: 1000, dtype: int64

In [34]:
df['view'].head(10)

0    128억5130만
1    120억8966만
2     54억7598만
3    110억5288만
4    180억7532만
5     57억5358만
6    178억6042만
7    105억5330만
8    147억9692만
9     36억5668만
Name: view, dtype: object

In [35]:
df['view'] = df['view'].replace(['억', '만'], ['', '0000'], regex=True).astype('int64')

In [36]:
df['view'].head(10)

0    12851300000
1    12089660000
2     5475980000
3    11052880000
4    18075320000
5     5753580000
6    17860420000
7    10553300000
8    14796920000
9     3656680000
Name: view, dtype: int64

In [37]:
df['video'].head()

0      319개
1      433개
2    1,319개
3      223개
4    3,583개
Name: video, dtype: object

In [38]:
df['video']=df['video'].replace([',', '개'], '', regex=True).astype('int32')

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       1000 non-null   object
 1   category    1000 non-null   object
 2   subscriber  1000 non-null   int64
 3   view        1000 non-null   int64
 4   video       1000 non-null   int32
dtypes: int32(1), int64(2), object(2)
memory usage: 35.3+ KB

In [40]:
df['category'].value_counts()

category
[음악/댄스/가수]     175
[TV/방송]        161
[게임]           101
[키즈/어린이]        95
[음식/요리/레시피]     88
[BJ/인물/연예인]     68
[패션/미용]         57
[뉴스/정치/사회]      56
[미분류]           40
[취미/라이프]        40
[영화/만화/애니]      33
[교육/강의]         23
[애완/반려동물]       20
[스포츠/운동]        12
[IT/기술/컴퓨터]      8
[해외]             6
[주식/경제/부동산]      5
[국내/해외/여행]       5
[회사/오피셜]         4
[자동차]            2
[취미]             1
Name: count, dtype: int64

In [42]:
# [1-31] 'subscriber' 가 가장 많은 5개의 채널을 알아봅니다.
df.sort_values('subscriber', ascending=False).head()

                         title    category  subscriber         view  video
0                    BLACKPINK  [음악/댄스/가수]    51400000  12851300000    319
1               Big Hit Labels  [음악/댄스/가수]    45500000  12089660000    433
2                    BANGTANTV  [음악/댄스/가수]    38700000   5475980000   1319
3  Boram Tube Vlog [보람튜브 브이로그]    [키즈/어린이]    26500000  11052880000    223
4                       SMTOWN  [음악/댄스/가수]    24500000  18075320000   3583

In [43]:
# [1-32] 'view'가 가장 많은 5개 채널을 알아봅니다
df.sort_values('view', ascending=False).head()

              title    category  subscriber         view  video
4            SMTOWN  [음악/댄스/가수]    24500000  18075320000   3583
6      1theK (원더케이)  [음악/댄스/가수]    20900000  17860420000  13291
8  ArianaGrandeVevo  [음악/댄스/가수]    18200000  14796920000    112
0         BLACKPINK  [음악/댄스/가수]    51400000  12851300000    319
1    Big Hit Labels  [음악/댄스/가수]    45500000  12089660000    433

In [44]:
#  'video'가 가장 많은 5개 채널을 알아봅니다
df.sort_values('video', ascending=False).head()

                 title    category  subscriber        view   video
169           YTN news  [뉴스/정치/사회]     1970000  3801710000  492791
60           SBS Drama     [TV/방송]     4360000  4260860000  339029
737             연합뉴스TV  [뉴스/정치/사회]      550000   697650000  311370
57   SBS Entertainment     [TV/방송]     4490000  4516190000  210810
17                 CNN  [뉴스/정치/사회]    10900000  7899750000  149530

In [45]:
# 'video'가 가장 적은 5개 채널을 알아봅니다
df.sort_values('video', ascending=True).head()

,title,category,subscriber,view,video
194,OfficialGDRAGON,[음악/댄스/가수],1750000,0,0
128,tzuyang쯔양,[음식/요리/레시피],2570000,2570000,1
964,fx,[음악/댄스/가수],410000,380000,3
454,CL,[음악/댄스/가수],840000,52470000,5
742,Trouble Maker (Official YouTube Channel),[음악/댄스/가수],540000,173840000,9

In [46]:
#  'category'로 오름차순, 'subscriber'로 내림차순 정렬해 봅니다.
df.sort_values(['category', 'subscriber'], ascending=[True, False])

                      title     category  subscriber        view  video
52      [Awesome Haeun]어썸하은  [BJ/인물/연예인]     4840000   703070000    419
75   영국남자 Korean Englishman  [BJ/인물/연예인]     3940000  1160110000    411
79              워크맨-Workman  [BJ/인물/연예인]     3810000   469330000     76
82              waveya 2011  [BJ/인물/연예인]     3720000  1299280000    647
84                 허팝Heopop  [BJ/인물/연예인]     3710000  2748310000   1685
..                      ...          ...         ...         ...    ...
671            AshleyMariee         [해외]      590000    55950000   2033
53                  Samsung     [회사/오피셜]     4780000   585350000   1135
108               Billboard     [회사/오피셜]     2900000  1010800000   6100
709           미스&미스터트롯 공식계정     [회사/오피셜]      570000   202340000    659
722                  KB국민카드     [회사/오피셜]      560000   187960000    443

[1000 rows x 5 columns]

In [48]:
#  'category'가 '[음악/댄스/가수]'인 채널의 subscriber TOP5를 알아봅니다.
df[df['category']=='[음악/댄스/가수]'].sort_values('subscriber', ascending=False).head()

                   title    category  subscriber         view  video
0              BLACKPINK  [음악/댄스/가수]    51400000  12851300000    319
1         Big Hit Labels  [음악/댄스/가수]    45500000  12089660000    433
2              BANGTANTV  [음악/댄스/가수]    38700000   5475980000   1319
4                 SMTOWN  [음악/댄스/가수]    24500000  18075320000   3583
5  1MILLION Dance Studio  [음악/댄스/가수]    22300000   5753580000   2205

In [50]:
#  'category'가 '[TV/방송]'인 채널의 view TOP5를 알아봅니다.
df.loc[df['category'] == '[TV/방송]', :].sort_values('view', ascending=False).head()

                title category  subscriber         view   video
12          KBS World  [TV/방송]    14300000  10158060000   46830
22            MBCkpop  [TV/방송]     8670000   6339380000   38695
76      KBS Entertain  [TV/방송]     3930000   5340910000   91783
57  SBS Entertainment  [TV/방송]     4490000   4516190000  210810
77           MBCdrama  [TV/방송]     3920000   4350540000   51543

In [51]:
#  'subscriber'가 30000000 (3천만) 이상인 채널을 알아봅니다.
df[df['subscriber'] >= 30000000]

            title    category  subscriber         view  video
0       BLACKPINK  [음악/댄스/가수]    51400000  12851300000    319
1  Big Hit Labels  [음악/댄스/가수]    45500000  12089660000    433
2       BANGTANTV  [음악/댄스/가수]    38700000   5475980000   1319

In [52]:
#  'video' 개수가 30000 이상 35000 이하인 채널을 알아봅니다.
df[(df['video'] >= 30000) & (df['video'] <= 35000)]

         title    category  subscriber       view  video
409  TBS 시민의방송  [뉴스/정치/사회]      930000  582330000  30431

In [53]:
#  'subscriber'가 30000000 (3천만)이상 이거나,
#  'video' 개수가 50000 이상인 채널을 알아봅니다.
df.loc[(df['subscriber'] >= 30000000) | (df['video'] >= 50000), :]

                  title    category  subscriber         view   video
0             BLACKPINK  [음악/댄스/가수]    51400000  12851300000     319
1        Big Hit Labels  [음악/댄스/가수]    45500000  12089660000     433
2             BANGTANTV  [음악/댄스/가수]    38700000   5475980000    1319
17                  CNN  [뉴스/정치/사회]    10900000   7899750000  149530
27     MBCentertainment  [뉴스/정치/사회]     7710000  11683060000   79567
38   JTBC Entertainment  [뉴스/정치/사회]     6020000   7638370000   58938
57    SBS Entertainment     [TV/방송]     4490000   4516190000  210810
60            SBS Drama     [TV/방송]     4360000   4260860000  339029
76        KBS Entertain     [TV/방송]     3930000   5340910000   91783
77             MBCdrama     [TV/방송]     3920000   4350540000   51543
101           KBS Drama     [TV/방송]     3040000   3538510000  105922
119                 tvN     [TV/방송]     2680000   3307570000   52141
168           TV CHOSUN  [뉴스/정치/사회]     1990000   3255290000   53632
169            YTN news  [뉴스/정치/사회]     1970000   3801710000  492791
176     런닝맨 - 스브스 공식 채널     [TV/방송]     1880000   2116410000   52730
248           JTBC News  [뉴스/정치/사회]     1400000   1573740000   91379
366              SBS 뉴스  [뉴스/정치/사회]     1010000   1458080000   87768
373           SBS STORY  [뉴스/정치/사회]      990000   1254640000   75985
389            KBS News  [뉴스/정치/사회]      960000   1017410000  145515
402              채널A 뉴스  [뉴스/정치/사회]      940000   1039130000   52662
431             MBCNEWS  [뉴스/정치/사회]      890000   1388710000   87228
502          뉴스TVCHOSUN  [뉴스/정치/사회]      770000    623510000   57729
701            MBN News  [뉴스/정치/사회]      570000    623580000   72397
737              연합뉴스TV  [뉴스/정치/사회]      550000    697650000  311370
988        ARIRANG NEWS  [뉴스/정치/사회]      400000    190750000  114494
992              KBS 교양  [뉴스/정치/사회]      400000    297960000   64694

In [55]:
# 'category'가 'TV/방송' 이거나 '게임'인 채널의 개수를 확인합니다.  (262개)
temp = df[(df['category'] == '[TV/방송]') | (df['category'] == '[게임]')]
len(temp)

262

In [56]:
#  title에 'KBS'가 포함된 채널 명 목록을 만들어 봅니다.
df[df['title'].str.contains('KBS')]['title']

12                    KBS World
46                     KBS Kpop
76                KBS Entertain
101                   KBS Drama
290                    KBS 한국방송
292           KBS Drama Classic
308             KBS HUMAN: 뭉클티비
389                    KBS News
457                  KBS CoolFM
716                       KBS N
777                    KBS KONG
991    KBS Documentary [KBS 다큐]
992                      KBS 교양
Name: title, dtype: object

In [58]:
df.loc[df['title'].str.contains('KBS'), 'title']

12                    KBS World
46                     KBS Kpop
76                KBS Entertain
101                   KBS Drama
290                    KBS 한국방송
292           KBS Drama Classic
308             KBS HUMAN: 뭉클티비
389                    KBS News
457                  KBS CoolFM
716                       KBS N
777                    KBS KONG
991    KBS Documentary [KBS 다큐]
992                      KBS 교양
Name: title, dtype: object

In [59]:
# 대소문자 구분 없이 검색 하려면?
df.loc[df['title'].str.lower().str.contains('kbs'), 'title']

12                    KBS World
46                     KBS Kpop
76                KBS Entertain
101                   KBS Drama
290                    KBS 한국방송
292           KBS Drama Classic
308             KBS HUMAN: 뭉클티비
389                    KBS News
457                  KBS CoolFM
716                       KBS N
777                    KBS KONG
991    KBS Documentary [KBS 다큐]
992                      KBS 교양
Name: title, dtype: object